:host {
  display: block;
  min-width: 380px;
}

.cycle-new__content {
  display: block;
  min-height: 4px;
}

.cycle-new__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 8px;
}

.cycle-new__spinner {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
